# venv
.dev-env/
/.3.8-env
/.38-env


# cache
__pycache__/
YOLOX_outputs/

# temp
tmp/

# link file
*.dll

# large file
pretrain/*
dataset/*

# private file (maybe unready)
test/*
*.ps1
test_*
*.log

# videos
/video
*.mp4
*.csv
*.avi
